.ingreso {
    width: 15%;
    height: 100%;
    float: left;
}

/*niveles de navegación*/
/*nivel 0*/
nav ul {
    list-style: none;/*para quitar viñetas*/
}

nav ul li {
    display: inline-block;/*dejar los elementos de forma horizontal*/
    width: 130px;/*tamaño definido para todas las opciones (los elementos li)*/
}

nav ul li a {}

/*Recuerde hover es una pseudo-clase
el proposito es que algo cambie o resalte cuando pase el cursor
por descendencia el elemento <a> tendrá este efecto*/
nav ul li a:hover {

}

/*nivel 1 -primer despliegue*/
nav li ul {}

nav li ul li {}

/*nivel 2 -despligues laterales+*/
nav li ul li ul {}

/*encabezado*/
header {} 